<article class="intro-sec bg-black">
    <div class="sm-container">
        <div class="intro-top">
            <div class="intro-img">
                <img src="/assets/imgs/intro-2x.png" class="responsive-img" alt="">
            </div>
            <!-- ./intro-img -->
            <div class="intro-para">
                <p class="para-sm">
                    Emerging Subject Matter Expert specializing in integrating User-centered Design into Social Services programs at technology, policy and program design intersections.</p>

                <p class="para-sm">Within area of expertise, interested in management consulting and granted-funded research opportunities for Social Services programs connected to Safety Net Benefits, Family First Prevention Services Act and recidivism of African American
                    fathers.
                </p>
            </div>
            <!-- ./intro-para -->
        </div>
        <!-- ./intro-top -->
        <div class="intro-bottom">
            <h2 class="bordered-heading h1">Publicat2ions</h2>
            <ul class="external-links publication">
                <li>
                    <a href="https://www.aspeninstitute.org/blog-posts/the-tech-response-to-covid-19-shows-how-to-fix-the-safety-net/" target="_blank">The Tech Response to COVID-19 Shows How to Fix the Safety Net (Aspen Institute) </a>
                </li>
                <li><a href="https://beeckcenter.georgetown.edu/report/social-safety-net-report/" target="_blank">Technology, Data and Design-enabled Approaches for a more Responsive, Effective Social Safety Net (Beeck Center) </a></li>
            </ul>
            <!-- ./external-links -->
            <h2 class="bordered-heading h1">Research Proposal</h2>
            <ul class="external-links text-d-none mt-55 mb-57">
                <li>
                    <a href="https://docs.google.com/document/d/14uPCFjpH9o-MFI6pPJ3vQ3GOvQRyG9-vt-gWAyEilm4/edit?usp=sharing" target="_blank">User-centered Design, African American Fathers and Recidivism Research Project</a>
                </li>
            </ul>
            <!-- ./external-links -->
            <div class="social-links intro-social-links">
                <a href="https://drive.google.com/file/d/16pu0ysZ4vX7aDGJGoIxZrMIfmGO83rLm/view?usp=sharing" target="_blank"><img src="/assets/imgs/pdf.svg" alt=""></a>
                <a href="https://www.linkedin.com/in/chadxsmith/" target="_blank"><img src="/assets/imgs/linkedin.svg" alt=""></a>
                <a href="mailto:info@chadxsmith.co"><img src="/assets/imgs/email.svg" alt=""></a>
            </div>
            <!-- ./social-links -->
        </div>
        <!-- ./intro-bottom -->
    </div>
    <!-- ./sm-container -->
</article>