<article class="tab1">
    <img src="/assets/imgs/Green-2x.svg" class="responsive-img" alt="">
    <div class="container">
        <div class="case-study-header">
            <div class="case-study-title bg-white">
                <h5 class="h5 color-black text-upper">Case Study</h5>
                <h2 class="h1 color-black mt-8 mb-8">Montgomery County Social Services</h2>
                <p>Service Design for REAL Parenting Program</p>
            </div>

            <div class="case-study-para">
                <p>I led both sales and Service Design responsibilities to build program evaluation forms and data analysis tools for Montgomery County Social Services (MCSS) Department to simplify verifying behavior change measurement in their <a href="https://www.fsw.org/our-programs/restorative-justice-programs/real-parenting" target="_blank">REAL Parenting</a> program. The business need was part of the local government’s transition into the <a href="https://familyfirstact.org/about-law" target="_blank">Family First Prevention Services Act</a>, which required funded programs to document behavior change following certain measurement criterias </p>
            </div>
        </div>
        <!-- ./case-study-header -->
    </div>
    <!-- ./container -->
    <div class="case-study-body">
        <div class="card-one-third stakeholder-mapping bg-light-blue">
            <div class="container">
                <div class="flex-row tablet-block">
                    <div class="c-card-sm mobile-container">
                        <h5 class="h5 color-black text-upper">Planning</h5>
                        <h2 class="h1 color-black">Stakeholder Mapping:</h2>
                        <p>The project kicked off with establishing expectations on pilot success outcomes (i.e. understanding existing process, building training material, and implementing new procedures and technology), as well as outlining and attaching responsibilities to the department’s Director, Program Manager and Caseworkers to reach desired pilot outcomes </p>
                    </div>
                    <div class="planing-img stakeholder-img">
                        <img src="/assets/imgs/Section 1-1.svg" class="responsive-img" alt="">
                    </div>
                </div>
                <!-- ./flex-row -->

            </div>
            <!-- ./container -->
        </div>
        <!-- ./card-one-third -->
        <div class="program-manager bg-light-blue p-t-8">
            <div class="sec-inner">
                <div class="container">
                    <div class="d-flex">
                        <article class="c-card-sm bg-light-blue">
                            <h2 class="h1 color-black bordered-heading">Program Manager</h2>
                            <blockquote class="quoted-text">“When determining behavior change, I need to understand client progress as quickly as possible so I can communicate with my Caseworkers on how we may need to intervene.”</blockquote>
                            <p class="mt-18">To improve the departments’ existing behavior change measurement process, our team worked alongside the department’s Program Managers to understand existing procedures, identify opportunities for improvement and to determine feasibility of key process changes involving new forms and technology.  The department was completely new to both User Centered Design, and deploying an external cloud-based solution,  so we worked with clear schedules, milestones and conducted regular check-ins to ensure the engagement still “felt right”.</p>
                        </article>

                    </div>
                    <!-- ./flex-row -->

                </div>
                <!-- ./container -->
            </div>
            <!-- ./sec-inner -->
            <img src="/assets/imgs/BLUE - THE CHALLENGE-1.svg" class="responsive-img" alt="">
        </div>
        <!-- program-manager -->
        <div class="sec-card">
            <div class="container">
                <div class="card-one-third">
                    <div class="flex-row p-t-0 p-b-100 tablet-block">
                        <div class="c-card-sm">
                            <h5 class="h5 color-black text-upper">Reseach</h5>
                            <h2 class="h1 color-black">Business Process Mapping:</h2>
                            <p>After successfully completing the contractual obligation and team expectation setting phase, our team rolled up our sleeves and learned the general existing process for measuring behavior change in their REAL Parenting program; provided via the Program Managers</p>
                        </div>
                        <div class="planing-img">
                            <img src="/assets/imgs/Section 2-1.svg" class="responsive-img" alt="">
                        </div>
                    </div>
                    <!-- ./flex-row -->
                    <div class="flex-row p-t-0 p-b-100 tablet-block">
                        <div class="c-card-sm">
                            <h2 class="h1 color-black">Pain Point Mapping:</h2>
                            <p>Once completed and verified with the Program Managers, we conducted another meeting to identify pain points at key milestones, labeled owners of experienced pain (e.g. Caseworkers and Program Provider), and documented reasoning for the pain experienced</p>
                        </div>
                        <div class="planing-img">
                            <img src="/assets/imgs/Section 2-2.svg" class="responsive-img" alt="">
                        </div>
                    </div>
                    <!-- ./flex-row -->
                    <div class="flex-row p-t-0 p-b-100 tablet-block">
                        <div class="c-card-sm">
                            <h2 class="h1 color-black">Business Process Re-Mapping:
                            </h2>
                            <p>Our next meeting entailed re-imagining, with pain points resolved, what the behavior change measuring process could consist of. We talked about new forms, how the forms would be distributed, who would collect the forms, who would measure the data and how the data would be measured. Once aligned, we talked about what role technology “could” play, to identify core features needed for a technology to thrive in this new process and within the current department’s environment </p>
                        </div>
                        <div class="planing-img">
                            <img src="/assets/imgs/Section 2-3.svg" class="responsive-img" alt="">
                        </div>
                    </div>
                    <!-- ./flex-row -->

                </div>
                <!-- ./card-one-third -->
            </div>
            <!-- ./container -->
        </div>
        <!-- ./sec-card -->
        <div class="sec-card bg-light-blue">
            <div class="container">
                <div class="flex-row tablet-block">
                    <div class="c-card-sm">
                        <h5 class="h5 color-black text-upper">Synthesis</h5>
                        <h2 class="h1 color-black">Low-fidelity Wireframes:
                        </h2>
                        <p>A high-level concept car was quickly produced to illustrate the technology’s core features for everyone to provide feedback on the initial direction. What was the spot-on? What was far off? What could work tomorrow, but not today in their organization? These questions all needed answers during our feedback calls. </p>
                    </div>
                    <div class="planing-img">
                        <img src="/assets/imgs/Section 4-1.svg" class="responsive-img" alt="">
                    </div>
                </div>
                <!-- ./flex-row -->
            </div>
            <!-- ./container -->
        </div>
        <!-- ./sec-card -->
        <!-- ./sec-card -->
        <div class="sec-card bg-off-white">
            <div class="container">
                <div class="prototyping-content mt-8">
                    <h5 class="h5 color-black text-upper">Ideation</h5>
                    <h2 class="h1 color-black">Prototyping:
                    </h2>
                    <p class="prototyping-para">Over the course of several weeks, we iterated through wireframes, low-fidelity prototypes and high-fidelity prototypes to gather feedback on direction and ensure ideas were realized in user-friendly interaction patterns and appealing visual design.  We also worked tirelessly across our Design and Engineering team to ensure mock-ups were feasible to deliver under timelines agreed upon, and leveraged off-the-shelf enterprise technologies to speedup innovation without compromising security </p>
                </div>
                <app-slider [imgSrcArray]="sliderImgArray"></app-slider>
            </div>
            <!-- ./container -->
        </div>
        <!-- ./sec-card -->
        <!-- ./sec-card -->
        <div class="sec-card">
            <div class="container">
                <div class="sm-heading">
                    <h5 class="h5 color-black text-upper">Delivery</h5>
                </div>
                <div class="row-2-col usability-text">
                    <div class="col">
                        <h2 class="h1 color-black">Sprint Planning:
                        </h2>
                        <p class="p-top-24">Once the concept proved viable, we established Sprints to turn the concept into production-ready code. The Design team worked a Sprint before for our Dev team, allowing us to run InVision-based usability tests of Features before Dev was ready to build. During Dev’s Sprint, conversely, we worked hand-in-hand; usability testing screens when coded or tweaking designs in Sprint to not comprise dev feasibility needs and then retesting when dramatic changes emerged</p>
                    </div>
                    <div class="col">
                        <h2 class="h1 color-black">Usability Testing:
                        </h2>
                        <p class="p-top-24">When conducting Usability Testing, we worked with separate groups to test the script for clarity and then another to validate proposed functionality </p>
                    </div>
                </div>
                <!-- ./row-2-col -->
            </div>
            <!-- ./container -->
        </div>
        <!-- ./sec-card -->
        <div class="sec-card bg-black color-white">
            <div class="container">
                <div class="reflection-content">
                    <h2 class="h1">Reflections:
                    </h2>
                    <p>As the pilot program slowly came to an end, our team quickly realized a pivot was needed. The created service introduced needs for a new role, an in-house program evaluator with certain data analysis skill sets, that made more sense in the Program Providers organization than within the Montgomery County Social Services Department. In addition, given the Program Providers grant-funded funding model in comparison to the primarily state and federal funding model for local governments (with some exceptions such as discretionary funding, which funded our pilot), greater experimentation opportunity was noticed in pivoting to Program Providers to continue building our Service Design capabilities for REAL Parenting and similar programs</p>
                </div>

            </div>
            <!-- ./container -->
        </div>
        <!-- ./sec-card -->

    </div>
    <!-- ./case-study-body -->
</article>