<article class="tab2">
    <img src="/assets/imgs/case2-imgs/C2-Intro-Illustration-4.svg" class="responsive-img" alt="">
    <div class="container">
        <div class="case-study-header">
            <div class="case-study-title bg-white">
                <h5 class="h5 color-black text-upper d-none d-block">Case Study</h5>
                <h2 class="h1 color-black mt-8 mb-8 font-20 chip-heading">CHIP of New River Valley</h2>
                <p>Service Design for Nurse-Family Partnership Program</p>
            </div>

            <div class="case-study-para">
                <p>I led both sales and Service Design responsibilities to introduce a new service into CHIP of New River Valley that simplified the process of verifying behavior change in their <a href="https://www.nursefamilypartnership.org/" target="_blank">Nurse-Family Partnership Home Visiting</a> program. The business need was part of their local government’s transition into the <a href="https://familyfirstact.org/about-law" target="_blank">Family First Prevention Services Act</a>, which required funded programs to document behavior change following certain measurement criterias </p>
            </div>
        </div>
        <!-- ./case-study-header -->
    </div>
    <!-- ./container -->
    <div class="case-study-body">
        <img src="/assets/imgs/case2-imgs/C2-Intro-Illustration-1.svg" class="responsive-img" alt="">
        <div class="program-manager case-2 bg-light-pink mobile-p-b-0">
            <div class="sec-inner mobile-p-b-0">
                <img src="/assets/imgs/case2-imgs/C2-Intro-Illustration-3.svg" class="bg-img" alt="">
                <div class="container mobile-fluid">
                    <div class="d-flex">
                        <article class="c-card-md bg-light-pink">
                            <h2 class="h1 color-black bordered-heading">Caseworker</h2>
                            <blockquote class="quoted-text color-light-pink">"When determining behavior in home visiting programs, I need to be able to complete clients surveys as quickly as possible so I can get back to the person-to-person portion of seeing how my client is doing."</blockquote>
                            <p class="mt-40 project-manager-para">Similar to Montgomery County Social Services, our team had limited access to employee staff and had to operate with limited client availability.</p>
                            <p class="mt-30 project-manager-para">
                                Our team ensured dedicated Caseworkers-only interviews were available since our pilot learning showed that any technological change would be impact their responsibilities first and the hardest </p>
                        </article>

                    </div>
                    <!-- ./flex-row -->

                </div>
                <!-- ./container -->
            </div>
            <!-- ./sec-inner -->
        </div>
        <!-- program-manager -->
        <div class="sec-card bg-off-white">
            <div class="container">
                <div class="prototyping-content mt-8">
                    <h5 class="h5 color-black text-upper">Delivery</h5>
                    <h2 class="h1 color-black">Pain Point Mapping: General Business Process
                    </h2>
                    <p class="prototyping-para">Our relationship with CHIP of New River Valley was born out of our relationship with Montgomery County Social Services; our pilot county. Our team had limited access to stakeholders within the organization, however,
                        so we scraped together time from existing and former employees to understand the organization’s behavior change process, underlying technology, and key stakeholders associated with the procedures and technologies
                    </p>
                </div>
            </div>
            <!-- ./container -->
            <div class="container mobile-fluid">
                <app-slider [imgSrcArray]="sliderImgArray1"></app-slider>
            </div>
            <!-- ./container -->
        </div>
        <!-- ./sec-card -->
        <div class="sec-card bg-light-pink point-mapping">
            <div class="container">
                <div class="prototyping-content mt-8">
                    <h2 class="h1 color-black">Pain Point Mapping: Caseworker Journey
                    </h2>
                    <p class="mt-24">Once we visualized the organization’s behavior change process, underlying technologies and key stakeholders, we took a deeper dive into those dynamics from their Caseworkers perspective to understand how their responsibilities were impacted by the existing dynamics. Our goal was to simply understand where pain points resided and why, at this point. </p>
                    <p class="mt-24">The same process was applied to Program Evaluators to understand how the organization’s behavior change process, underlying technology and key stakeholders impacted their responsibilities </p>
                </div>
            </div>
            <!-- ./container -->
            <div class="container mobile-fluid">
                <app-slider [imgSrcArray]="sliderImgArray2" [isMargin]="true"></app-slider>
            </div>

        </div>
        <div class="col-2-row synthesis-sec p-t-100">
            <div class="container">
                <div class="row synthesis-fist-row">
                    <h5 class="h5 color-black text-upper">Synthesis</h5>
                    <h2 class="h1 color-black">Concept Car (Day-in-the-life Interviews)
                    </h2>
                    <p class="p-top-24">Given that most reported pain resided with Caseworkers, we focused on resolving their problems first. This also meant reimagining and validating how their day would be impacted with pain point resolving solution integrated
                    </p>
                </div>
                <div class="row mt-102 concept-car-product">
                    <h2 class="h1 color-black">Concept Car (Product)
                    </h2>
                    <p class="p-top-24">As interviews commenced and feedback patterns ensued, we began imagining different paths to realize our solution. We designed products across desktop and mobile devices, but eventually landed on Google Glass for the Caseworkers; with a supporting desktop solution for Program Evaluators.
                    </p>
                    <p class="p-top-24">The Google Glass platform, for example, allowed the Caseworkers pain points to be resolved without as many new pain points introduced as desktop and mobile would create. This was predominantly due to its, comparably, frictionless integration into offline experience due to the Caseworkers being able to use the technology in their roles without losing access to consistent eye to eye contact with parents during home visits. The supporting desktop solution, however, allowed the Caseworker to provide the Program Evaluator the necessary material, in the necessary format, to remove the pain points documented in their world
                    </p>
                </div>
                <div class="row mt-28 concept-car-imgs">
                    <img src="/assets/imgs/case2-imgs/Section 3-1 (2).svg" class="responsive-img mt-55" alt="">
                    <img src="/assets/imgs/case2-imgs/Section 3-3.svg" class="responsive-img mt-55" alt="">
                    <img src="/assets/imgs/case2-imgs/Section 3-2.svg" class="responsive-img mt-55" alt="">
                </div>
                <div class="row  mvp-sizing">
                    <h2 class="h1 color-black">MVP Sizing
                    </h2>
                    <p class="p-top-24">Once the Concept Car was ready, our team created baseline User Stories to realize the Google Glass solution; along with a staffing model to realize both the Google Glass and desktop solution at a monthly fixed rate for CHIP of New River Valley. Our assumption was the team needed to realize the Google Glass solution could be extended, post-release of the Google Glass MVP, to realize our desktop solution’s MVP
                    </p>

                </div>
                <!-- ./container -->
            </div>
            <!-- ./col-2-row -->
            <div class="sec-card bg-off-white">
                <div class="container">
                    <div class="row">
                        <h5 class="h5 color-black text-upper">VALIDATION</h5>
                        <h2 class="h1 color-black">Concept Car (Executive Presentation)
                        </h2>
                        <p class="p-top-24">To help our solution and products feel more digestible, we conducted assessments of non-tech companies utilizing User-centered Design for both narrative and product development purposes. This approach was utilize to help CHIP of New River Valley’s Executive Leadership team understand our business value to their organization, first; before discussing our product’s features and capabilities
                        </p>
                        <ul class="external-links text-d-none mt-24 color-black icon-black presentation-link mb-57">
                            <li>
                                <a href="https://docs.google.com/presentation/d/1_lcvKXKcLrR7bn6o_WD0a8FkNAGchipPhlaJrcCuR88/edit#slide=id.g741c28fbfd_0_176" class="color-black" target="_blank">Link to presentation</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row-2-col concept-images">
                        <div class="col mb-57">
                            <img src="/assets/imgs/case2-imgs/design-assistance.png" class="responsive-img" alt="">
                        </div>
                        <div class="col mb-57">
                            <img src="/assets/imgs/case2-imgs/Section 3-3 (1).svg" class="responsive-img" alt="">
                        </div>
                        <div class="col mb-57">
                            <img src="/assets/imgs/case2-imgs/Section 3-2 (2).svg" class="responsive-img" alt="">
                        </div>
                        <div class="col mb-57">
                            <img src="/assets/imgs/case2-imgs/Section 4-2.svg" class="responsive-img" alt="">
                        </div>
                        <div class="col mb-57">
                            <img src="/assets/imgs/case2-imgs/Section 3-1 (1).svg" class="responsive-img" alt="">
                        </div>
                        <div class="col mb-57">
                            <img src="/assets/imgs/case2-imgs/Section 4-3.svg" class="responsive-img" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <img src="/assets/imgs/case2-imgs/Section 4-4.svg" class="responsive-img" alt="">
                    </div>
                    <!-- ./row-2-col -->
                </div>
                <!-- ./container -->
            </div>
            <!-- ./sec-card -->
            <div class="sec-card bg-black reflection-stakeholder color-white">
                <div class="container">
                    <div class="reflection-content">
                        <h2 class="h1 reflection-heading">Reflections: Stakeholder Mapping
                        </h2>
                        <p>Throughout our meetings with CHIP of New River Valley’s Executive Leadership team, we discovered how budgeting decisions were determined to justify appropriate-levels of technology experimentation for Program Providers similar to CHIP of New River Valley. 
                        </p>
                        <p>Although User-centered and conceived with Caseworkers and former staff from the CHIP organization, our technology did not meet immediate needs to justify budgetary spending costs as budgetary constraints focused most spending on already proven technologies (e.g. laptops) and/or services that immediately supported grant-related (e.g. staffing) needs
                        </p>
                    </div>

                </div>
                <!-- ./container -->
            </div>
            <!-- ./sec-card -->

        </div>
    </div>
        <!-- ./case-study-body -->
</article>
<!-- ./tab-footer -->
<div class="footer-social-link p-t-100 p-b-100 bg-black">
    <div class="container">
        <div class="social-links">
            <a href="https://drive.google.com/file/d/16pu0ysZ4vX7aDGJGoIxZrMIfmGO83rLm/view?usp=sharing" target="_blank"><img src="/assets/imgs/pdf.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/chadxsmith/" target="_blank"><img src="/assets/imgs/linkedin.svg" alt=""></a>
            <a href="mailto:info@chadxsmith.co"><img src="/assets/imgs/email.svg" alt=""></a>
        </div>
        <!-- ./social-link -->
    </div>
    <!-- ./container -->
</div>
<!-- ./footer-ocial-link -->